
#nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    background-color:rgb(242, 226, 146);
    
}

#nav li{
    margin: 5px;
    padding: 10px 15px;

}


#nav li:hover{
    background-color: rgb(255, 238, 143);
}

#nav a{
    text-decoration: none;
    color: rgb(9, 0, 67);
}

/* modelo de caja */

.padre{
    background-color:rgb(178, 255, 102);
    padding: 20px;
    
}

.hijo{
    background-color: hotpink;
    padding: 100px;
    border: 10px solid black;
    margin: 30px;
}

/* componente */

#contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: blanchedalmond;
    gap: 1rem;
}

.card{
    display: block;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px black;
}

/* iteraciones */
#cielo{
    background-color: rgb(23, 38, 59);
}

/* imagenes de productos */
.card img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    border-radius: 8px;
}

/* precio */
.card p {
    color: rgb(47, 10, 10);
    background-color: rgb(255, 214, 214);
    margin: 5px 0;
}

/* boton */
.card button {
    background-color: #fbffe7;
    color: rgb(0, 0, 0);
    border:none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    box-shadow: 0 1px 1px black;
}

.card button:hover {
    background-color: #ff9d9d;
}